# Configuración de base de datos MySQL
DB_URL=jdbc:mysql://localhost:3306/ganaderia_db
DB_USER_NAME=root
DB_PASSWORD=tu_password_aqui

# Configuración de usuario administrador
ADMIN_EMAIL=tu_email_admin
ADMIN_PASSWORD=tu_password_admin

# Puerto del servidor
SERVER_PORT=8081
